<h2>User Summary: <%= @user.username %></h2>
<p>Joined site: <%= @user.created_at.strftime("%B %d, %Y") %></p>
<h3>Votes</h3>

<table class="table">
<thead>
<tr>
<th>
    Media Title
</th>
<th>
    Created By
</th>
<th>
    Published
</th>
<th>
    Category
</th>
<th>
    Voted On
</th>
</tr>
</thead>

</table>
<%= link_to "See all Users", users_path, class: "btn btn-secondary"%>
<%= link_to "Back to Media List", root_path, class: "btn btn-primary"%>